.blogItem {
  /* border: 1px solid #ddd; */
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust the spacing between items if needed */
  margin-left: 30px;
  color: black;
  width: 80%; 
}

.link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: inherit;
  width: 100%; 
}

.imageWrapper {
  margin-right: 20px; 
}

.imageWrapper hr{
  position: absolute;
  border: none; 
  height: 1px; 
  background-color: #ccc; /* Light gray */
  margin: 20px 0; 
  width: 90%; /* Ensure full width */
}

.imageWrapper img {
  transition: transform 0.3s ease; /* Smooth transition for the transform property */
  border-radius: 15px; /* Add rounded corners to images */
}

.imageWrapper img:hover {
  transform: scale(1.05); /* Slightly zoom-in the image on hover */
}

.textWrapper {
  flex: 1;
}

.title {
  font-size: 2em; /* Adjust the size to your preference */
  margin: 0; /* Remove default margin */
}

.date {
  font-size: 1.5em; /* Adjust the size to your preference */
  color: gray; 
}

.readMore {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  position: flex;
}

.divider {
  width: 90%;        
  margin: 20px auto; /* Center it horizontally */
  border: none;      /* Remove default styling */
  border-top: 1px solid #ccc; /* Custom line style */
}


/* Media query for screens below 640px */
@media (max-width: 640px) {
  .blogItem {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .imageWrapper {
    margin-right: 0; /* Remove right margin */
    width: 100%; /* Ensure image takes full width */
  }

  .textWrapper {
    width: 100%; 
  }

  .link {
    flex-direction: column; /* Stack items vertically */
  }

  .title {
    font-size: 1.5em; 
  }

  .date {
    font-size: 1.2em; 
  }
}